.menu{
    background-color: #000000;    
}
.nav1{
    background-color: #ffffff;   
}

.hamburguer{
    border: none;
    outline: none;
}

@media(max-width: 991px){

    #home{
        border-right: none !important;
        border-bottom: 1px solid #dee2e6 !important;;
        
    }    
}