<nav class="navbar navbar-expand-lg text-light navbar-dark">

    <a class="navbar-brand d-flex flex-row  justify-align-center align-items-center" routerLink='/home'>
        <fa-icon [icon]="faDiceD20" class="faDiceD20 p-1"></fa-icon>
        <div> RPG! </div>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link texto p-3 text-uppercase text-monospace font-weight-bold" routerLink='/home'>
                Home<span class="sr-only">(página atual)</span></a>
            <a class="nav-link texto p-3 text-uppercase text-monospace font-weight-bold"
                routerLink='/contact'>Contato</a>
        </div>
    </div>
</nav>