<div class="container w-90 rounded-pill">
    <div class="container w-75">

        <div class="row mt-2">
            <div class="col-md-12">
                <h1 class="text-center">Role-playing game</h1>
            </div>
        </div>
        <div class="row mb-2">
            <div class="com-md-12 d-flex justify-content-center align-items-center">
                <p class="text-center">
                    Role-playing game, também conhecido como RPG (em português: "jogo de interpretação de papéis" ou
                    "jogo
                    de representação"), é um tipo de jogo em que os jogadores assumem papéis de personagens e criam
                    narrativas colaborativamente. O progresso de um jogo se dá de acordo com um sistema de regras
                    predeterminado, dentro das quais os jogadores podem improvisar livremente. As escolhas dos jogadores
                    determinam a direção que o jogo irá tomar.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="parallax card-deck d-flex justify-content-center align-items-center">
    <div class="card border-dark mb-3">
        <div class="card-header">Header</div>
        <div class="card-body text-dark">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card border-dark mb-3">
        <div class="card-header">Header</div>
        <div class="card-body text-dark">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
    <div class="card border-dark mb-3">
        <div class="card-header">Header</div>
        <div class="card-body text-dark">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-outline-dark" routerLink='/contact'>Mande sua mensagem para A Taverna!</button>
    </div>
</div>