main{
    background-color: #878787;
}

.container{
    background-color: #D4D4D4;
}

.parallax {
    background-image: url('../../assets/initial.jpg');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax > .card{
    max-width: 18rem;
    max-height: 18rem;
}